<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://gomix.com/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/d93bc0fd13.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.glitch.com/d62580d1-04a7-4eb1-9a98-30c4d9a7fd50%2Fk.css?v=1579282519487"
      rel="stylesheet"
    />
    <link href="/public/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>
          Space Camp
        </h1>
      </header>

      <main>
        <section class="pricing py-5">
          <div class="container">
            <div class="row">
              <!-- Freighter Tier -->
              <div class="col-lg-4 tier">
                <div class="card mb-5 mb-lg-0 shadow p-3 mb-5 bg-white rounded">
                  <div class="card-body">
                    <h5 class="card-title text-center">
                      Freighter Class
                    </h5>
                    <h6 class="card-price text-center">
                      <i class="fab fa-btc"></i> 10,000
                    </h6>
                    <hr />
                    <ul class="fa-ul">
                      <li>
                        <span class="fa-li"><i class="fas fa-rocket"></i></span
                        >Mid-class x696 space tourer
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-couch"></i></span
                        >Spacious Zero-Grav seating
                      </li>
                      <li>
                        <span class="fa-li"
                          ><i class="fas fa-utensils"></i></span
                        >Light snack & beverage service while in orbit
                      </li>
                      <li>
                        <span class="fa-li"
                          ><i class="fas fa-suitcase"></i></span
                        >1 carry-on bag allowed
                      </li>
                    </ul>
                    <a href="#" class="btn btn-block btn-primary text-uppercase"
                      >Button</a
                    >
                  </div>
                </div>
              </div>

              <!-- Constellation Tier -->
              <div class="col-lg-4 tier">
                <div class="card mb-5 mb-lg-0 shadow p-3 mb-5 bg-white rounded">
                  <div class="card-body">
                    <h5 class="card-title text-center">
                      Constellation Class
                    </h5>
                    <h6 class="card-price text-center">
                      <i class="fab fa-btc"></i> 25,000
                    </h6>
                    <hr />
                    <ul class="fa-ul">
                      <li>
                        <span class="fa-li"
                          ><i class="fas fa-space-shuttle"></i></span
                        >Shuttle-class x701 space coach
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-couch"></i></span
                        >Spacious Zero-Grav seating
                      </li>
                      <li>
                        <span class="fa-li"
                          ><i class="fas fa-utensils"></i></span
                        >Unlimited snack & beverage service while in orbit
                      </li>
                      <li>
                        <span class="fa-li"
                          ><i class="fas fa-suitcase"></i></span
                        >2 carry-on bag allowed
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-wifi"></i></span
                        >Unlimited wifi
                      </li>
                      <li>
                        <span class="fa-li"
                          ><i class="fas fa-space-shuttle"></i></span
                        >50GB Storage
                      </li>
                      <li>
                        <span class="fa-li"
                          ><i class="fas fa-user-astronaut"></i></span
                        >Unlimited Public Projects
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-meteor"></i></span
                        >Community Access
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-atom"></i></span
                        >Unlimited Private Projects
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-cat"></i></span
                        >Dedicated Phone Support
                      </li>
                      <li>
                        <span class="fa-li"><i class="fab fa-grav"></i></span
                        >Free Subdomain
                      </li>
                    </ul>
                    <a href="#" class="btn btn-block btn-primary text-uppercase"
                      >Button</a
                    >
                  </div>
                </div>
              </div>

              <!-- Admiral Tier -->
              <div class="col-lg-4 tier">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                  <div class="card-body">
                    <h5 class="card-title text-center">
                      Admiral Class
                    </h5>
                    <h6 class="card-price text-center">
                      <i class="fab fa-btc"></i> 250,000
                    </h6>
                    <hr />
                    <ul class="fa-ul">
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        ><strong>Unlimited Users</strong>
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        >150GB Storage
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        >Unlimited Public Projects
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        >Community Access
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        >Unlimited Private Projects
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        >Dedicated Phone Support
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        ><strong>Unlimited</strong> Free Subdomains
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        >Monthly Status Reports
                      </li>
                    </ul>
                    <a href="#" class="btn btn-block btn-primary text-uppercase"
                      >Button</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <footer></footer>
    </div>

    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.glitch.com/d62580d1-04a7-4eb1-9a98-30c4d9a7fd50%2Fk.js?v=1579282678779"
      crossorigin="anonymous"
    ></script>
    <script src="/public/client.js"></script>
  </body>
</html>
