<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://gomix.com/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>
          Space Camp
        </h1>
      </header>

      <main>
        <!--         <form>
          <div class="form-group">
            <input type="text" class="form-control" maxlength="100" placeholder="Dreams!" />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>            
        </form>
        <section class="dreams">
          <ul id="dreams"></ul>
        </section>
         -->
        <section class="pricing py-5">
          <div class="container">
            <div class="row">
              <!-- Free Tier -->
              <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                  <div class="card-body">
                    <h5
                      class="card-title text-muted text-uppercase text-center"
                    >
                      Freighter Class
                    </h5>
                    <h6 class="card-price text-center">
                      <i class="fa fa-btc"></i>0<span class="period">/month</span>
                    </h6>
                    <hr />
                    <ul class="fa-ul">
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        >Single User
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        >5GB Storage
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        >Unlimited Public Projects
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        >Community Access
                      </li>
                      <li class="text-muted">
                        <span class="fa-li"><i class="fas fa-times"></i></span
                        >Unlimited Private Projects
                      </li>
                      <li class="text-muted">
                        <span class="fa-li"><i class="fas fa-times"></i></span
                        >Dedicated Phone Support
                      </li>
                      <li class="text-muted">
                        <span class="fa-li"><i class="fas fa-times"></i></span
                        >Free Subdomain
                      </li>
                      <li class="text-muted">
                        <span class="fa-li"><i class="fas fa-times"></i></span
                        >Monthly Status Reports
                      </li>
                    </ul>
                    <a href="#" class="btn btn-block btn-primary text-uppercase"
                      >Button</a
                    >
                  </div>
                </div>
              </div>
              <!-- Plus Tier -->
              <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                  <div class="card-body">
                    <h5
                      class="card-title text-muted text-uppercase text-center"
                    >
                      Constellation Class
                    </h5>
                    <h6 class="card-price text-center">
                      $<span class="period">/month</span>
                    </h6>
                    <hr />
                    <ul class="fa-ul">
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        ><strong>5 Users</strong>
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        >50GB Storage
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        >Unlimited Public Projects
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        >Community Access
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        >Unlimited Private Projects
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        >Dedicated Phone Support
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        >Free Subdomain
                      </li>
                      <li class="text-muted">
                        <span class="fa-li"><i class="fas fa-times"></i></span
                        >Monthly Status Reports
                      </li>
                    </ul>
                    <a href="#" class="btn btn-block btn-primary text-uppercase"
                      >Button</a
                    >
                  </div>
                </div>
              </div>
              <!-- Pro Tier -->
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <h5
                      class="card-title text-muted text-uppercase text-center"
                    >
                      Admiral Class
                    </h5>
                    <h6 class="card-price text-center">
                      $49<span class="period">/month</span>
                    </h6>
                    <hr />
                    <ul class="fa-ul">
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        ><strong>Unlimited Users</strong>
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        >150GB Storage
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        >Unlimited Public Projects
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        >Community Access
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        >Unlimited Private Projects
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        >Dedicated Phone Support
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        ><strong>Unlimited</strong> Free Subdomains
                      </li>
                      <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span
                        >Monthly Status Reports
                      </li>
                    </ul>
                    <a href="#" class="btn btn-block btn-primary text-uppercase"
                      >Button</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <footer>
        <a href="https://glitch.com">
          Remix this in Glitch
        </a>
      </footer>
    </div>

    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous"
    ></script>
    <script src="/public/client.js"></script>
  </body>
</html>
