body {
  background: url('https://cdn.glitch.com/d62580d1-04a7-4eb1-9a98-30c4d9a7fd50%2Fspacex-PIOgkhaF3WA-unsplash.jpg?v=1579217398377') left bottom no-repeat;
  height: 100vh;
}
.tier > div {
  height: 390px;
  background-color: rgba(255,255,255,.6);
  position: relative;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, .3);
  border-radius: 10px;
}
.tier .btn {
  position: absolute;
  bottom:20px;
  left: 20px;
  width: 89%;
}